In [102]:
import csv
import psycopg2
import sqlalchemy
import pandas as pd

from datetime import datetime

# Introduction
The dataset that the student worked with contains data on the people and households that are eligible for Medicaid, Cash Assistance, and/or SNAP. "How does the distribution of Medicaid (MA) enrollees vary across different boroughs and community districts in NYC, and are there any notable disparities in enrollment rates?" is the question the student hopes to address with this project.

# Data Summary
The data was acquired from Data.gov, a repository of various public datasets provided by the United States government. This data was then put into a csv file stored on github.

In [31]:
drs_data = pd.read_csv('https://raw.githubusercontent.com/ktxdev/AIM-5001/main/Project%201/2.%20Data/DRS.csv')

### Cases

In [32]:
print("Number of cases: ", len(drs_data))
print("Number of attributes per case: ", len(drs_data))

Number of cases:  354
Number of attributes per case:  354

### Data types of attributes

In [33]:
drs_data.dtypes

Data published in District Resource Statement                             object
Data as of                                                                object
Borough                                                                   object
Community District                                                        object
DRS Medicaid (MA) Only Enrollees                                           int64
DRS Total Medicaid (MA) Enrollees                                          int64
DRS Cash Assistance (CA) Recipients                                        int64
DRS Cash Assistance (CA) Cases                                             int64
DRS Total Supplemental Nutrition Assistance Program (SNAP)  Recipients     int64
DRS Total Supplemental Nutrition Assistance Program (SNAP)  Households     int64
dtype: object

### Descriptive statistics for Numerical Variables

In [34]:
drs_data.describe()

,DRS Medicaid (MA) Only Enrollees,DRS Total Medicaid (MA) Enrollees,DRS Cash Assistance (CA) Recipients,DRS Cash Assistance (CA) Cases,DRS Total Supplemental Nutrition Assistance Program (SNAP) Recipients,DRS Total Supplemental Nutrition Assistance Program (SNAP) Households
count,354.000000,354.000000,354.000000,354.000000,354.000000,354.000000
mean,14684.333333,27183.819209,6361.305085,3460.081921,27602.709040,16097.485876
std,8400.397596,13420.794009,4653.442781,2348.526239,15391.991415,8097.041116
min,1410.000000,2512.000000,315.000000,263.000000,1965.000000,1511.000000
25%,9055.000000,17370.250000,2942.750000,1751.000000,16542.750000,10167.000000
50%,13409.500000,26647.500000,4647.500000,2688.000000,24706.000000,14928.000000
75%,18482.500000,36842.250000,9683.250000,5205.750000,39043.250000,21409.000000
max,52525.000000,70448.000000,18953.000000,10071.000000,67294.000000,38992.000000

### Descriptive statistics for Categorical Variables

In [35]:
print("Boroughs: ", len(drs_data['Borough'].unique()))
print("Community Districts: ", len(drs_data['Community District'].unique()))

Boroughs:  5
Community Districts:  59

# Data Management using PostgreSQL

## ER Diagram for District Resource Statement database
![ER Diagram](https://raw.githubusercontent.com/ktxdev/AIM-5001/main/Project%201/1.%20Literature/ER%20Diagram.png)

## SQL Statements to create database and tables
### Statement to create database
```sql
CREATE DATABASE drs;
```
### Statements to create tables
```sql
CREATE TABLE borough (
    id INT GENERATED ALWAYS AS IDENTITY,
    name VARCHAR (50) UNIQUE NOT NULL,
    PRIMARY KEY(id)
);
    
CREATE TABLE community_district (
    id INT GENERATED ALWAYS AS IDENTITY,
    borough_id INT,
    name VARCHAR(20) NOT NULL,

    PRIMARY KEY(id),
    CONSTRAINT fk_borough FOREIGN KEY(borough_id) REFERENCES borough(id) ON DELETE CASCADE
);
    
CREATE TABLE drs_case (
    id INT GENERATED ALWAYS AS IDENTITY,
    medicaid_only_enrollee INT NOT NULL,
    total_medicaid_only_enrollee INT NOT NULL,
    cash_assistance_recipients INT NOT NULL,
    cash_assistance_cases INT NOT NULL,
    total_snap_recipients INT NOT NULL,
    total_snap_households INT NOT NULL,
    date_published INT NOT NULL,
    date_as_of TIMESTAMP NOT NULL,
    community_district_id INT NOT NULL,

    PRIMARY KEY(id),
    CONSTRAINT fk_community_district FOREIGN KEY(community_district_id) REFERENCES community_district(id)
);
```

## Connecting to database and pre-loading data to PostgreSQL database

In [128]:
conn = psycopg2.connect(
    host="localhost",
    port=5433,
    database="drs",
    user="aim5001",
    password="password")

# Create a cursor object
cur = conn.cursor()

boroughs_dict = {}
boroughs = drs_data['Borough'].unique() # Getting unique borough names

for borough in boroughs:
    sql = f"INSERT INTO borough (name) VALUES ('{borough}') RETURNING *"
    
    cur.execute(sql)
    
    results = cur.fetchall()
    
    for borough_id, name in results:
        boroughs_dict[name] = borough_id

borough_and_district_dict = {}
borough_and_district_data = drs_data.loc[:, ['Borough','Community District']].groupby(['Borough','Community District'])

for (name, code), _ in borough_and_district_data:
    sql = f"INSERT INTO community_district (borough_id, name) VALUES ({boroughs_dict[name]}, '{code}') RETURNING id, name"
    
    cur.execute(sql)
    
    results = cur.fetchall()
    
    for community_district_id, name in results:
        borough_and_district_dict[name] = community_district_id

for index, row in drs_data.iterrows():
    sql = f"""INSERT INTO drs_case (
                    medicaid_only_enrollee, 
                    total_medicaid_only_enrollee, 
                    cash_assistance_recipients, 
                    cash_assistance_cases, 
                    total_snap_recipients,
                    total_snap_households, 
                    date_published, 
                    date_as_of, 
                    community_district_id)
                VALUES (
                    {row['DRS Medicaid (MA) Only Enrollees']},
                    {row['DRS Total Medicaid (MA) Enrollees']},
                    {row['DRS Cash Assistance (CA) Recipients']},
                    {row['DRS Cash Assistance (CA) Cases']},
                    {row['DRS Total Supplemental Nutrition Assistance Program (SNAP)  Recipients']},
                    {row['DRS Total Supplemental Nutrition Assistance Program (SNAP)  Households']},
                    {int(row['Data published in District Resource Statement'].replace("FY ", ""))},
                    TIMESTAMP '{datetime.strptime(row['Data as of'], '%m/%d/%Y').strftime('%Y-%m-%d %H:%M:%S')}',
                    {borough_and_district_dict[row['Community District']]}
                )"""
    cur.execute(sql)
    
conn.commit()

cur.execute("SELECT COUNT(*) FROM drs_case")

if cur.fetchall()[0][0] == len(drs_data):
    print("Data pre-loaded successfully!")

Data pre-loaded successfully!

## Creating a new dataframe from the Database

In [145]:
read_sql = """
SELECT dc.medicaid_only_enrollee AS "MA Only Enrollee",
       dc.total_medicaid_only_enrollee AS "Total MA Only Enrollee",
       dc.cash_assistance_recipients AS "CA Recipient",
       dc.cash_assistance_cases AS "CA Cases",
       dc.total_snap_recipients AS "Total SNAP Recipients",
       dc.total_snap_households AS "Total SNAP Households",
       b.name AS "Borough",
       cd.name AS "Community District"
FROM drs_case dc
LEFT JOIN community_district AS cd ON dc.community_district_id = cd.id
LEFT JOIN borough AS b ON cd.borough_id = b.id;"""

drs_cases = pd.read_sql_query(read_sql, conn)
drs_cases['Borough'] = drc_cases['Borough'].astype('category')

/var/folders/1k/58hcws017zn4nh_jpycwlvqw0000gn/T/ipykernel_11821/3452854778.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  drs_cases = pd.read_sql_query(read_sql, conn)

# Exploratory Data Analysis
## Summary Statistics

In [150]:
drc_cases.describe(include='all')

,MA Only Enrollee,Total MA Only Enrollee,CA Recipient,CA Cases,Total SNAP Recipients,Total SNAP Households,Date Published,Date As Of,Borough,Community District
count,354.000000,354.000000,354.000000,354.000000,354.000000,354.000000,354.000000,354,354,354
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,59
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BROOKLYN,B01
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108,6
mean,14684.333333,27183.819209,6361.305085,3460.081921,27602.709040,16097.485876,2020.500000,2020-05-01 00:00:00,NaN,NaN
min,1410.000000,2512.000000,315.000000,263.000000,1965.000000,1511.000000,2018.000000,2017-10-31 00:00:00,NaN,NaN
25%,9055.000000,17370.250000,2942.750000,1751.000000,16542.750000,10167.000000,2019.000000,2018-10-31 00:00:00,NaN,NaN
50%,13409.500000,26647.500000,4647.500000,2688.000000,24706.000000,14928.000000,2020.500000,2020-05-01 00:00:00,NaN,NaN
75%,18482.500000,36842.250000,9683.250000,5205.750000,39043.250000,21409.000000,2022.000000,2021-10-31 00:00:00,NaN,NaN
max,52525.000000,70448.000000,18953.000000,10071.000000,67294.000000,38992.000000,2023.000000,2022-10-31 00:00:00,NaN,NaN
std,8400.397596,13420.794009,4653.442781,2348.526239,15391.991415,8097.041116,1.710242,NaN,NaN,NaN

In [ ]:
cur.close()
conn.close()